.firstimage{
    background-image: url("../img/Image1.jpg");
    min-height: 100%;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &__title{
        position:absolute;
        width:100%;
        top:50%;

        &--main{
            display: inline;
            color: $Textcolor1;
            text-align:center;
            letter-spacing:8px;
            font-size:27px;
            border: 1px solid black;
            padding: 10px;
            background-color: rgba(0,0,0,0.7);
        }
    }
}