body, html{
    height: 100%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    text-align: center;
}

$Textcolor1 : #ffffff;
$Textcolor2 : #666;
$Textcolor3 : #fff;
$Textcolor4 : #ddd;


$Backgroundcolor1 : #f4f4f4;
$Backgroundcolor2 : #282e34;

// h1{
//     text-align: center;
// }
