@media(max-width: 568px){
    .firstimage, .secondimage, .thirdimage, .fourthimage{
        background-attachment: fixed ;
    }
    .fourthimage__title{
        width: auto;
    }
    
    h1{
        font-size: 20px;
    }
    .fourthimage__title--main{
        font-size: 16px;
    }
}