* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.firstimage {
  background-image: url("../img/Image1.jpg");
  min-height: 100%;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.firstimage__title {
  position: absolute;
  width: 100%;
  top: 50%;
}

.firstimage__title--main {
  display: inline;
  color: #ffffff;
  text-align: center;
  letter-spacing: 8px;
  font-size: 27px;
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.sectionone {
  background-color: #f4f4f4;
  color: #666;
  display: block;
  padding: 50px 80px;
}

.sectionone__title {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
}

.sectionone__paragraph {
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
}

.secondimage {
  background-image: url("../img/Image2.jpg");
  min-height: 400px;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.secondimage__title {
  position: absolute;
  width: 100%;
  top: 50%;
}

.secondimage__title--main {
  display: inline;
  color: #fff;
  text-align: center;
  letter-spacing: 8px;
  font-size: 27px;
  padding: 20px;
}

.sectiontwo {
  background-color: #282e34;
  color: #ddd;
  display: block;
  padding: 50px 80px;
}

.sectiontwo__title {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
}

.sectiontwo__paragraph {
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
}

.thirdimage {
  background-image: url("../img/Image3.jpg");
  min-height: 400px;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.thirdimage__title {
  position: absolute;
  width: 100%;
  top: 50%;
}

.thirdimage__title--main {
  display: inline;
  color: #fff;
  text-align: center;
  letter-spacing: 8px;
  font-size: 27px;
  padding: 20px;
}

.sectionthree {
  background-color: #282e34;
  color: #ddd;
  display: block;
  padding: 50px 80px;
}

.sectionthree__title {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
}

.sectionthree__paragraph {
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
}

.fourthimage {
  background-image: url("../img/Image1.jpg");
  min-height: 100%;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fourthimage__title {
  position: absolute;
  width: 100%;
  top: 50%;
}

.fourthimage__title--main {
  display: inline;
  color: #ffffff;
  text-align: center;
  letter-spacing: 8px;
  font-size: 27px;
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.toogle {
  position: absolute;
  z-index: 1;
  top: 3px;
}

.toogle [type="checkbox"]:not(:checked), .toogle [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.toogle [type="checkbox"]:not(:checked) + label, .toogle [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 4em;
  padding-top: .25em;
  cursor: pointer;
}

.toogle [type="checkbox"]:not(:checked) + label:before, .toogle [type="checkbox"]:checked + label:before, .toogle [type="checkbox"]:not(:checked) + label:after, .toogle [type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  height: 1.5em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.toogle [type="checkbox"]:not(:checked) + label:before, .toogle [type="checkbox"]:checked + label:before {
  left: 0;
  top: 0;
  width: 3em;
  border: 2px solid #dddddd;
  background: #dddddd;
  border-radius: 1.1em;
  z-index: -1;
}

.toogle [type="checkbox"]:not(:checked) + label:after, .toogle [type="checkbox"]:checked + label:after {
  left: .15em;
  top: .125em;
  background-color: #fff;
  border-radius: 50%;
  width: 1.5em;
}

.toogle [type="checkbox"]:checked + label:after {
  left: 1.65em;
}

.toogle [type="checkbox"]:checked + label:before {
  background-color: #1e0c88;
  border-color: #1e0c88;
}

@media (max-width: 568px) {
  .firstimage, .secondimage, .thirdimage, .fourthimage {
    background-attachment: fixed;
  }
  .fourthimage__title {
    width: auto;
  }
  h1 {
    font-size: 20px;
  }
  .fourthimage__title--main {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */